/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* universal styles */
body {
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
p {
    font-family: "Montserrat", sans-serif;
}

/*-------------- hero section styling ---------------*/
.overlay {
    position: relative;
    background-image: url("images/hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

#hero {
    position: absolute;
    padding: 0 15%;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.4);
}

header {
    height: 7%;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 25%;
}

header .logo p {
    color: #fff;
    font-size: 2vw;
    font-weight: 700;
}

.search,
.cart {
    display: none;
}

#checkbox {
    display: none;
}

.menu-toggle {
    display: none;
}

header .links {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .links nav {
    width: 50%;
}

header .links .buttons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .links nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 2%;
}

header .links nav ul li a {
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-size: 0.9vw;
}

header .links .buttons .login {
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9vw;
    margin: 0 2vw;
}

header .links .buttons .member {
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 0.4vw;
    outline: none;
    padding: 3% 7% 4% 7%;
    background-color: #23a6f0;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9vw;
}

header .links .buttons .member span {
    font-size: 1.5vw;
}

.banner {
    padding: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.banner h1 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 4vw;
}

.banner h2 {
    padding: 5% 10%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 2vw;
}

.banner .text {
    height: auto;
    padding: 10% 20% 2% 20%;
}

.banner .banner-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-buttons .quote {
    cursor: pointer;
    color: #fff;
    border: solid 0.1vw #23a6f0;
    border-radius: 2vw;
    outline: none;
    padding: 2.5% 4%;
    margin: 0 1.5%;
    background-color: #23a6f0;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 0.1vw;
    font-size: 0.8vw;
}

.banner .banner-buttons .more {
    cursor: pointer;
    color: #fff;
    border: solid 0.11vw #fff;
    border-radius: 2vw;
    outline: none;
    padding: 1.7% 4%;
    margin: 0 1.5%;
    background: transparent;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9vw;
}

.banner .floating-cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}

.banner .floating-cards div {
    cursor: pointer;
    width: 30%;
    background-color: #fff;
    padding: 4%;
    transition: 0.3s ease;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.banner .floating-cards div:hover {
    color: #fff;
    background-color: #23a6f0;
}

.banner .floating-cards div svg {
    width: 3vw;
    height: 3vw;
    color: #23a6f0;
}

.banner .floating-cards div h3 {
    text-transform: capitalize;
    font-size: 1.2vw;
    padding: 5% 0;
}

.banner .floating-cards div p {
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
}

.banner .floating-cards div:hover > svg,
.banner .floating-cards div:hover > h3,
.banner .floating-cards div:hover > p {
    color: #fff;
}

#small {
    height: 25vh;
    background-color: #fafafa;
}

/*-------------- mission section styling ---------------*/
#mission {
    padding: 10% 15%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

#mission div {
    text-align: center;
    width: 30%;
    padding: 3%;
}

#mission div svg {
    color: #23a6f0;
    width: 4vw;
}

#mission div h3 {
    text-transform: capitalize;
    padding: 5% 0;
    font-size: 1vw;
}

#mission div p {
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.04vw;
    font-size: 0.9vw;
}

/*-------------- industry section styling ---------------*/
#industry {
    padding: 5% 15%;
    text-align: center;
    background-color: #fafafa;
}

#industry .intro {
    padding-bottom: 5%;
}

#industry .intro h3 {
    text-transform: capitalize;
    font-size: 3vw;
}

/* intro mini-section */
#industry .intro p {
    padding: 1% 25%;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    line-height: 1.5vw;
}

/* ratings mini-section*/
#industry .ratings {
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#industry .ratings .rating {
    background-color: #fff;
    width: 30%;
    padding: 4% 3%;
    border-radius: 0.5vw;
    border: solid 0.1vw rgba(0, 0, 0, 0.2);
}

#industry .ratings .rating img {
    width: 9vw;
}

#industry .ratings .rating p {
    padding: 7% 5%;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.03vw;
    font-size: 0.8vw;
    line-height: 1.2vw;
}

#industry .ratings .rating .stars {
    padding: 2% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3cd03;
}

/* clients mini-section */
#industry .clients {
    padding: 4% 0 8% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#industry .clients img {
    width: 6vw;
}

#industry .clients img:nth-child(2),
#industry .clients img:nth-child(3) {
    width: 5vw;
}

#industry .clients img:nth-child(5),
#industry .clients img:nth-child(6) {
    width: 4vw;
}

/* subscription mini-section */
#industry .subscription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 5%;
    background-image: linear-gradient(90deg, #024688, #d21589);
}

#industry .subscription h3 {
    width: 30%;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.5vw;
    line-height: 2vw;
}

#industry .subscription form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

#industry .subscription form .email {
    width: 50%;
    font-weight: 500;
    font-size: 0.8vw;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    border-radius: 0.3vw 0 0 0.3vw;
    padding: 2.8% 6%;
}

#industry .subscription form .submit {
    display: flex;
    cursor: pointer;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    width: 20%;
    background-color: #23a6f0;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0 0.3vw 0.3vw 0;
    padding: 2.8% 6%;
}

/* pricing mini-section */
#industry .pricing-info {
    padding: 15% 0 10% 0;
}

#industry .pricing-info h3 {
    text-transform: capitalize;
    font-size: 2.2vw;
}

#industry .pricing-info p {
    padding: 2% 30%;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.03vw;
    font-size: 0.8vw;
    line-height: 1.2vw;
}

#industry .pricing-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

#industry .pricing-cards .pricing-card {
    border: solid 0.15vw #23a6f0;
    border-radius: 0.5vw;
    width: 30%;
    padding: 4%;
    margin: 0 0.2%;
}

#industry .pricing-cards .pricing-card .heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7vw;
}

#industry .pricing-cards .pricing-card p {
    padding: 15%;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.03vw;
    font-size: 0.8vw;
    line-height: 1.2vw;
}

#industry .pricing-cards .pricing-card .price {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2.5vw;
    color: #23a6f0;
    position: relative;
}

#industry .pricing-cards .pricing-card .price .dollars {
    font-size: 1.3vw;
    position: absolute;
    margin-top: -1%;
}

#industry .pricing-cards .pricing-card .price .month {
    font-weight: 500;
    font-size: 0.8vw;
    color: #8ec2f2;
}

#industry .pricing-cards .pricing-card ul {
    text-align: left;
    padding: 10% 0;
}

#industry .pricing-cards .pricing-card ul li {
    display: flex;
    list-style-type: none;
    margin: 5% 0;
}

#industry .pricing-cards .pricing-card ul li svg {
    width: 2vw;
    height: 2vw;
    color: #2dc071;
}

#industry .pricing-cards .pricing-card ul li p {
    padding: 2% 0 2% 5%;
    color: #000;
}

#industry .pricing-cards .pricing-card .buy {
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 0.3vw;
    outline: none;
    padding: 4% 7%;
    background-color: #23a6f0;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.7vw;
}

/* free plan */
#industry .pricing-cards .free li:nth-child(4) > svg,
#industry .pricing-cards .free li:nth-child(5) > svg {
    color: #bdbdbd;
}

/* standard plan */
#industry .pricing-cards .standard {
    padding: 7% 4%;
    background-color: #252b42;
}

#industry .pricing-cards .standard .heading,
#industry .pricing-cards .standard p,
#industry .pricing-cards .standard ul li p {
    color: #fff;
}

#industry .pricing-cards .standard li:nth-child(5) > svg {
    color: #bdbdbd;
}

/*-------------- booking section styling ---------------*/
#booking {
    padding: 5% 15% 25% 15%;
    background-color: #252b42;
}

#booking .branches {
    display: flex;
    align-items: center;
    justify-content: center;
}

#booking .branches .branches-a {
    width: 50%;
    padding-right: 10%;
}

#booking .branches .branches-a h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 2vw;
    font-weight: 700;
    line-height: 3vw;
}

#booking .branches .branches-a p {
    color: #fff;
    padding: 2% 0;
    font-weight: 500;
    letter-spacing: 0.01vw;
    font-size: 0.8vw;
    line-height: 1.2vw;
}

#booking .branches .branches-b {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#booking .branches .branches-b img {
    width: 30vw;
}

/*-------------- contact section styling ---------------*/
#contact {
    padding: 5% 15% 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: -25%;
}

#contact .appointment {
    background-image: url("images/contact-cover.2.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: #fff;
    margin-top: 5%;
    padding: 5% 0;
}

#contact .appointment .image {
    width: 40%;
}

#contact .appointment .image img {
    width: 22vw;
}

#contact .appointment .booking-form {
    text-align: center;
    background-color: #fff;
    width: 60%;
}

#contact .appointment .booking-form h3 {
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.5vw;
}

#contact .appointment .booking-form form {
    font-family: "Montserrat", sans-serif;
    padding-right: 15%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#contact .appointment .booking-form form label {
    padding: 3% 0 2% 0;
    font-weight: 500;
    font-size: 0.9vw;
}
#contact .appointment .booking-form form input {
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    border: solid 0.1vw rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 0.5vw;
    outline: none;
    font-size: 0.7vw;
}

#contact .appointment .booking-form form select {
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    border: solid 0.1vw rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 0.5vw;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7vw;
}

#contact .appointment .booking-form form .button {
    cursor: pointer;
    margin-top: 9%;
    background-color: #23a6f0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/*-------------- call section styling ---------------*/
#call {
    padding: 10% 15%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#call .call-a {
    width: 70%;
}

#call .call-a h3 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2vw;
}

#call .call-a p {
    padding: 2% 0;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.03vw;
    font-size: 1vw;
    line-height: 1.2vw;
}

#call .call-b {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

#call .call-b .call {
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 0.4vw;
    outline: none;
    padding: 5% 10%;
    background-color: #23a6f0;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9vw;
}

/*-------------- company info section styling ---------------*/
#company-info {
    padding: 5% 15%;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#company-info div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

#company-info div h3 {
    text-transform: capitalize;
    color: #252b42;
    padding: 15% 0;
}

#company-info div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

#company-info div ul li {
    margin: 10% 0;
    color: #6f6f6f;
    font-weight: 500;
    font-size: 0.9vw;
    list-style-type: none;
    text-transform: capitalize;
}

#company-info div:last-child div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#company-info div:last-child div svg {
    width: 1.5vw;
    height: 1.5vw;
    color: #23a6f0;
}

#company-info div:last-child div p {
    margin: 9% 0;
    padding-left: 5%;
    color: #6f6f6f;
    font-weight: 500;
    font-size: 0.9vw;
    list-style-type: none;
}
